.body{

}
.header{
  
}
.header div{
    display: inline-block;
}
.tin div{
    background-image: url(images/hero-cover.3.png);
    position: relative;
}
.logo{
    width: 20%;
    background-color: violet;
    color: white;

    margin-right: 50px;

}
.menu{
    width: 40%;
    color: red;

    margin-right: 50px;

}
.menu li{
    display:inline-block;
    margin: 7px;
}
.member{
    width: 20%;
    background-color: sienna;
}
.centre{
    width: 50%;
    margin-left: 25%;

}
.centre .raw div{

    align-items: center;
    display: inline;
}
.centre .raw h3
{
    display: inline;
    margin-right: 30px;
    margin-left: 80px;
}
.column{
    display: flex;
    margin-right: 70px;
}
.column div{
    box-shadow: 0px 0px 5px grey;
    border-radius: 50px;
    width: 150px;
    margin: 20px;
    height: 300px;

}
.box1{
    margin-right: 100px;

}
.box2{
    margin-right: 200px;
    
}
.box3{
    background-color: skyblue;
}
.icon{
    display: flex;
}
.intro div{
    display: flex;
}


.person{
    display: flex;
    padding-top: 70px;
}
.person1{
    margin-right: 80px;
}
.person2{
    margin-right: 80px;
}
.vectors{
    display: flex;
    align-items: stretch;
    padding-top: 150px;
}
.vector1{
    margin-right: 50px;
}
.vector2{
    margin-right: 50px;
}
.vector3{
    margin-right: 50px;
}
.vector4{
    margin-right: 50px;
}
.vector5{
    margin-right: 50px;
}
.email1{
    display: flex;
    padding-top: 50px;
    background-color: blueviolet;
    height: 50px;
    margin-left: 350px;
}
.ball div{
    justify-items: center;
    padding-top: 80px;
    padding-left: 300px;
}