.body{

}
.header{
  
}
.header div{
    display: inline-block;
}
.logo{
    width: 20%;
    background-color: violet;

    margin-right: 50px;

}
.menu{
    width: 40%;
    background-color: springgreen;
    margin-right: 50px;

}
.menu li{
    display:inline-block;
}
.member{
    width: 20%;
    background-color: sienna;
}
.centre{
    background-color: turquoise;
    width: 50%;
    margin-left: 25%;

}
.centre .raw div{
    background-color: yellow;
    align-items: center;
    display: inline;
}
.centre .raw h3
{
    display: inline;
    margin-right: 30px;
    margin-left: 80px;
}
.column{
    display: flex;
    margin-right: 70px;
}
.column{
    box-shadow: 0px 0px 5px grey;
    border-radius: 50px;
    width: 150px;
    margin: 20px;
    height: 300px;

}
.box1{
    margin-right: 100px;

}
.box2{
    margin-right: 100px;
}
.icon{
    display: flex;
}
.mid .intro{
    align-items: center;
}
   
.person{
    display: flex;
}
.person1{
    margin-right: 80px;
}
.person2{
    margin-right: 80px;
}
